* {
    margin: 0;
    padding: 0;
}

div {
    border-radius: 15px;
}



ul {
    list-style: none;
}

/* Hero Section */
.hero {
    height: 800px;
    display: flex;
}

.hero-content {
    background-image: url(./images/IMG-1603.JPG);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 140px;

}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
}

header ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 250px;
    position: relative;
}

header a:hover {
    color: salmon;
    background-color: #1a252f;
    transition: ease-in 0.2s;
}

header a {

    width: 100px;
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20%;
    text-decoration: none;
    color: black;
    border-radius: 20px;

}


.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 215px;
    width: 450px;
    font-family: 'Fjalla One', sans-serif;
    font-size: larger;
    color: #1a252f;
}


.pullRight {
    display: flex;
    justify-content: flex-end;
    width: 95%;
    margin-top: 150px;
}

/* End Hero Section */

/* About Section */
.about {
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    background-color: #10161c;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    height: 350px;
    width: 350px;
    margin: 40px;
    margin-top: 100px;
    border: darkblue solid 10px;
    float: left;
    color: white;
    background-color: #1f2c38;
    position: relative;
}

.about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about-info {
    height: 120px;
    width: 350px;
    /* border: solid 10px blue; */
    color: white;
    float: right;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    
    
}

.about-info span {
    color: salmon;
}

.about-list {
   margin: 25px;
    height: 200px;
    width: 350px;
    border: solid #2f4255 2px;
    float: right;
    color: white;
    background-color: #1f2c38;
    text-align: center;
}

.about ul {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 30px;
    text-align: start;
    list-style: none;
}

/* End About Section */


/* Projects Section */
.projects {
    background-color: #2f4255;
    border-bottom-left-radius: 140px;
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
}

.center {
    color: white;
    text-align: center;
    justify-content: space-around;

}

.projects-content {
    display: flex;
    height: 600px;
    background-color: #2f4255 ;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 140px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}


.icon {

    height: 250px;
    width: 350px;
    border: solid 1px yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2c38;
    border: solid #2f4255 2px;

}

.icon:hover {
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
    transition: 0.3s;
}

